.info-bar {
    border-radius: 10px;
    margin: 0 5px 5px 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.info-bar .info-message,
.info-bar .warning-message,
.info-bar .error-message {
    padding: 5px 10px 5px 5px;
}

.info-bar:hover {
    opacity: 0.9;
}

.info-message {
    background-color: #b3d9ff;
    color: #000000;
    border: 1px solid #80bfff;
}

.warning-message {
    background-color: #ffffcc;
    color: #333333;
    border: 1px solid #ffcc00;
}

.error-message {
    background-color: #ffcccc;
    color: #800000;
    border: 1px solid #ff6666;
}

.empty-image {
    background-color: #070410;
    border: 1px solid #014070;
}

.h1 {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.security-error {
    font-size: medium;
    color: red;
    font-weight: bold;
}

.security-verified {
    font-size: medium;
    color: green;
    font-weight: bold;
}